@import 'style.css';
@import 'normalize.css';
@import 'aksii.css';
*{
  padding: 0;
  margin: 0;
}
html {
  background: rgb(200, 228, 178);
}
.user {
  position: fixed;
  width: 100%;
  height: 66px;
  margin: 0 auto;
  background-color: rgb(214, 221, 223);
  display: flex;
  align-items: center;
  z-index: 1;
}

.user_content {
  position: fixed;
  right: 0;
  display:flex;
  align-items: center;
  padding-right: 20px;
}

.user h2 {
  padding-right: 10px;
}
.btn_user {
  text-decoration: none ;
  width: 95px;
  margin-left: -5px;
  border: none;
  padding: 12px 15px;
  border-radius: 24px;  
  letter-spacing: 2px;  
  cursor: pointer;
  background: rgba(28, 159, 168, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: 700;
  transition: all .4s ease; 
}

.btn_user:hover {
  background: #03afff;
  color: rgb(0, 0, 0);
  font-weight: 700;
}


.sidebar_menu {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  width: 100%;
  max-width: 200px;
  height: 100%;
  background: #062E5F;
  z-index: 1;
}

.sidebar_menu h2 {
  color: white;
  text-align: center;
  padding: 15px;
  background: rgb(248, 29, 46);
}

.sidebar_content ul li {
  list-style: none;
  font-weight: 700;
}

.sidebar_content ul li a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  padding-left: 40px;
  text-decoration: none;
  color: rgb(248, 29, 46);
  box-sizing: border-box;
  border-top: 2px solid rgb(255, 255, 255,.1);
  border-bottom: 1px solid black;
  transition: .4s;
}

.sidebar_content ul li a:hover {
  padding-left: 60px;
}

.sidebar_content button {
  top: auto;
}

.tovar {
  margin-left: 220px;
  padding-top: 100px;
}

.container_tovar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.button-wrapper .btn_delete {
  border: none;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}

.delete {
  width: 35px;
}

.button-wrapper .btn_update {
  background: rgb(44, 212, 86);
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.sidebar_create a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}


.aksi_priwiew {
  margin-top: 10px;
}

.aksi_btn {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.aksi_btn img { 
  width: 35px;
}

.aksi_btn button {
  cursor: pointer;
  background-color: #03afff;
  padding: 10px;
  border-radius: 20px;
}

.aksi_create {
  background-color: red;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: 130px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.create_aksi {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 10px 30px;
  overflow-y: auto;
  display: none;
  z-index: 10;
}

.container_create_aksi {
  position: relative;
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  margin: auto;
  color: #000;
  border-radius: 16px;
  margin-left: 200px;
  padding: 30px 15px 10px;
  cursor: default;
}
.content_create_aksi form {
  display: flex;
  flex-direction: column;
}

.content_create_aksi form input {
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

.content_create_aksi form textarea {
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

.content_create_aksi form button {
  width: 100%;
  max-width: 250px;
  margin-top: 10px;
  background: #033349;
  transition: all .3s linear;
}

.content_create_aksi form button:hover{
  transform: none;
  background: red;
}
