@import 'profile.css';
.update {
    width: 100%;
    max-width: 800px;
    margin-left: 500px;
    padding-top: 100px;
}
.update_content form{
    display: grid;
}
.update_content input {
    margin-top: 5px;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
}

.update_content textarea {
    width: 100%;
    max-width: 600px;
    margin-top: 5px;
}